{% load i18n %}
{# What to do about `problem`, with a link to the page of the app where it is done - if that app is installed. #}
{% if problem.check.hint %}
    <div class="small">
        <i class="fas fa-wrench fa-fw text-body-secondary"></i> {{ problem.check.hint }}
        {% if own_fix_link %}
            {# My account: the member's own characters, all added in aa-charlink #}
            <a href="{{ own_fix_link }}" class="text-nowrap eos-auth-monitor-fix">CharLink <i class="fas fa-arrow-up-right-from-square fa-xs"></i></a>
        {% elif problem.check.fix_url %}
            {% url problem.check.fix_url as fix_link %}
            {% if fix_link %}
                <a href="{{ fix_link }}" class="text-nowrap eos-auth-monitor-fix">{{ problem.check.app_title }} <i class="fas fa-arrow-up-right-from-square fa-xs"></i></a>
            {% endif %}
        {% endif %}
    </div>
{% endif %}
